* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

html {
	color: #666;
	font-family: 'Titillium Web', sans-serif;
	font-size: 17px;
	padding: 80px;
}

h3 {
	margin-bottom: 10px;
}

p {
	line-height: 28px;
	width: 440px;
	text-align: left;
	margin-bottom: 5px;
}

ul {
	display: block;
    list-style-type: none;
    box-sizing: inherent;
    padding: 0;
    margin: 0;
}

ul.info {
	font-size: 15px;
	line-height: 1.25em
}

.notes {
	padding-top: 10px;
	margin-bottom: 20px;
}

.notes li {
	margin-top: 7px;
}

li {

}

a {
	background: #ff9 none repeat scroll 0 0;
	color: #666;
	outline: medium none;
	text-decoration: none;
}

section {
	width: 530px;
	margin-top: 24px;
	font-size: 18px;
}