* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

body {
	color: #666;
	font-family: Helvetica,arial,sans-serif;
	font-size: 18px;
	padding: 80px;
}

.label {
	font-weight: bold;
	font-size: 17px;
}

h3 {
	margin-bottom: 26px;
}

p {
	line-height: 25px;
	margin-top: 13px;
}

ul {
	list-style: none;
}

a {
	background: #ff9 none repeat scroll 0 0;
	color: #666;
	outline: medium none;
	text-decoration: none;
}