* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

html {
	color: #666;
	font-family: 'Titillium Web', sans-serif;
	font-size: 17px;
	padding: 80px;
}

p {
	line-height: 28px;
	width: 440px;
	text-align: left;
}

ul {
	list-style: none;
}

a {
	background: #ff9 none repeat scroll 0 0;
	color: #666;
	outline: medium none;
	text-decoration: none;
}

section {
	width: 450px;
	margin-top: 24px;
}