* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

html {
	color: #666;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	padding: 80px;
}

.arabic {
	font-size: 22px;
}

h3 {
	display: inline-block;
}

p {
	line-height: 28px;
	width: 440px;
	text-align: left;
}

p, ul {
	margin-top: 24px;
}

ul {
	list-style: none;
}

a {
	background: #ff9 none repeat scroll 0 0;
	color: #666;
	outline: medium none;
	text-decoration: none;
}