* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

html {
	color: #666;
	font-family: 'Titillium Web', sans-serif;
	font-size: 17px;
	padding: 80px;
}

p {
	line-height: 28px;
	width: 440px;
	text-align: left;
}

ul {
	list-style: none;
}

a {
	background: #ff9 none repeat scroll 0 0;
	color: #666;
	outline: medium none;
	text-decoration: none;
}

section {
	width: 450px;
	margin-top: 24px;
}

.ig-b- { display: inline-block; margin-left: 15px;}
.ig-b- img { visibility: hidden; position: absolute;}
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-16 { width: 16px; height: 16px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-16 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-16@2x.png); background-size: 60px 178px; } }
